<table border = '2'>
<tr>
<th>subject</th>
<th>Mark</th>
<th>Created_at</th>
<th>Modified_at</th>
<th>Created_by</th>
<th>updated_by</th>
</tr>
{% for m in mar %}

<tr>
<td>{{m.subject}}</td>
<td>{{m.mark}}</td>
<td>{{m.Created_at}}</td>
<td>{{m.Modified_at}}</td>
<td>{{m.created_by}}</td>
<td>{{m.updated_by}}</td>

<td><a href = '/student/update_mark/{{m.id}}'><button>update</button></a></td>
<td><a href = '/student/delete_mark/{{m.id}}'><button>delete</button></a></td>

</tr>
{% endfor %}

</table>
<br>
<a href = "{% url 'details' %}"><button>back</button></a>
{% if user.is_authenticated %}
    {{user.username}}
{% endif %}