<table border = '2'>
<tr>
<th>subject</th>
<th>Mark</th>
<th>Created_at</th>
<th>Modified_at</th>
<th>created_by</th>
</tr>
{% for m in mar %}

<tr>
<td>{{m.subject}}</td>
<td>{{m.mark}}</td>
<td>{{m.Created_at}}</td>
<td>{{m.Modified_at}}</td>
<td>{{m.created_by}}</td>
<td><a href = 'http://127.0.0.1:8000/student/update_mark/{{m.id}}'><button>update</button></a></td>
<td><a href = 'http://127.0.0.1:8000/student/delete_mark/{{m.id}}'><button>delete</button></a></td>

</tr>
{% endfor %}

</table>
<br>
<a href = "{% url 'details' %}"><button>back</button></a>
