<center>
<h1>Student Details</h1>
<table border = '1'>
<tr>
<th>id</th>
<th>Roll_no</th>
<th>Name</th>
<th>Profile</th>
<th>Mark</th>
<th>Update</th>
<th>Delete</th>

</tr>
{% for i in stu %}
<tr>
<td>{{i.id}}</td>
<td>{{i.roll_no}}</td>
<td>{{i.name}}</td>
<td><img src="{{ i.profile.url }}", width = 100px ></td>
<td><a href = show_mark/{{i.id}}><button>marks</button></a></td>
<td><a href = update_stu/{{i.id}}><button>update</button></a></td>
<td><a href = del_stu/{{i.id}}><button>delete</button></a></td>
</tr>
{% endfor %}
</table>
<br>
<a href = "{% url 'add_student' %}"><button>add student</button></a>
<a href = "{% url 'add_marks' %}"><button>add marks</button></a>
<a href="{% url 'Form_out' %}"><button>logout</button></a>
</center>
